# Python cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit secrets (DO NOT COMMIT)
.streamlit/secrets.toml

# Your data file (Tea/Coffee entries etc.)
data.json

# OS-specific files
.DS_Store
Thumbs.db
